<% provide(:title, 'home') %>
<h1>
  <%= yield(:title) %>
</h1>
<div class="container">
    <div class="col-md-4">
        <img alt="Enterprise" class="col-md-12" src="/assets/colors1.jpg">
    </div>
    <div class="col-md-4">
        <img alt="Group/Small Business" class="col-md-12" src="/assets/colors1.jpg">
    </div>
    <div class="col-md-4">
        <img alt="Personal" class="col-md-12" src="/assets/colors1.jpg">
    </div>
</div>
<p>
    <div class="col-md-12">
        This is a placeholder for text which will be added at a later date. Copy which is more applicable to the application will be added.
    </div>
</p>