<% provide(:title, 'home') %>
<h1><%= yield(:title) %></h1>
<div class="container">
    <div class="col-md-4">
        This is a placeholder for text which will be added at a later date. Copy which is more applicable to the application will be added.
    </div>
    <div class="col-md-4">
        This is a placeholder for text which will be added at a later date. Copy which is more applicable to the application will be added.
    </div>
    <div class="col-md-4">
      <!-- Split button -->
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary">Action</button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <!-- end Split button -->
    </div>
</div>
<p>
    <div class="col-md-12">
        This is a placeholder for text which will be added at a later date. Copy which is more applicable to the application will be added.
    </div>
</p>