@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: left;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  color: #2E2F30;
}

h2 {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #2E2F30;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  color: #999;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.btn-padding {
  padding-top: 7px;
}

header ul {
  float: left;
  list-style: none;
}

header ul li {
  float: left;
  margin-left: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
  background-color: #000;
}

footer a:hover {
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #999999;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: #ff0000;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}